@import url('https://fonts.googleapis.com/css?family=Junge');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #C9B849;
}

div {
	text-align: center;
}

.piosenka {
	padding: 25px;
}

h1 {
	color: #BE3100;
	font-family: 'Junge', serif;
	font-size: 1.5em;
}

.zw {
	margin: 50px;
	color: #6F0B00;
	font-family: 'Lato', sans-serif;
	line-height: 5px;
	font-size: 1em;
}